// header
$btn-color: #ffc800
$navbar-hover-color: #ffc800
// hero
$hero-slide-title: #ffc800
$hero-slide-subtitle: #ffffff
$hero-slide-text: #ffffff
$hero-slide-btext: #030303
$hero-slide-bbg: #ffc800
$hero-slide-dactive: #ffc800
$hero-slide-dot: #ffffff
// services
$services-bg-color: #f1f1f1
$services-label-text: #020202
$services-label-bg: #ffc800
$service-title-color: #fcfafa
// $service-title-color: rgba(252, 250, 250, 0.8)
$service-btn-text: #020202
$service-btn-bg: #ffc800
$service-desctiption: #000000
$service-price-bbg: #000000
$service-price-btext: #fdfcfc
// benefits
$benefits-cards-blockbg: #f1f1f1
$benefits-card-bg: #ffffff
$benefits-card-text: #020202
$benefits-list-counter: #ffc800
$benefits-list-line: #010101
$benefits-list-text: #020202
$benefits-label-text: #020202
$benefits-label-bg: #ffc800
// reviews
$reviews-bg-color: #010101
$reviews-label-text: #020202
$reviews-label-bg: #ffc800
$review-title-color: #ffc800
$review-text-color: #fffffd
$review-likes-color: #fefbfb
$reviews-slide-dactive: #ffc800
$reviews-slide-dot: #ffffff
// news
$news-bg-color: #f1f1f1
$news-label-bg: #ffc800
$news-label-text: #020202
$new-title-color: #020202
$new-date-color: #010101
$new-date-mark: #ffc800
$new-text-color: #020202
$news-btn-text: #020202
$news-btn-bg: #ffc800
// map
$map-form-titlef: #030303
$map-form-titles: #ffc800
$map-form-inputt: #020202
$map-form-underline: #000000
$map-form-btnt: #020202
$map-form-btnbg: #ffc800
// footer
$footer-bg-color: #000000
$footer-address-color: #fdfcfc
$footer-email-color: #fefefe
$footer-tel-color: #fefefe
// modal
$modal-bg-color: #ffc800