// header
$btn-color: #ffc800
$navbar-hover-color: #ffc800
// hero
$hero-slide-title: #ffc800
$hero-slide-subtitle: #ffffff
$hero-slide-text: #ffffff
$hero-slide-btext: #030303
$hero-slide-bbg: #ffc800
$hero-slide-dactive: #ffc800
$hero-slide-dot: #ffffff
// services
$services-bg-color: #f1f1f1
$services-label-text: #020202
$services-label-bg: #ffc800
$service-title-color: #fcfafa
// $service-title-color: rgba(252, 250, 250, 0.8)
$service-btn-text: #020202
$service-btn-bg: #ffc800
$service-desctiption: #000000
$service-price-bbg: #000000
$service-price-btext: #fdfcfc
// benefits
$benefits-cards-blockbg: #f1f1f1
$benefits-card-bg: #ffffff
$benefits-card-text: #020202
$benefits-list-counter: #ffc800
$benefits-list-line: #010101
$benefits-list-text: #020202
$benefits-label-text: #020202
$benefits-label-bg: #ffc800
// reviews
$reviews-bg-color: #010101
$reviews-label-text: #020202
$reviews-label-bg: #ffc800
$review-title-color: #ffc800
$review-text-color: #fffffd
$review-likes-color: #fefbfb
$reviews-slide-dactive: #ffc800
$reviews-slide-dot: #ffffff

$main-color: #fffffe
$text-color: #020202
$reviews-text-color: #fffffd
$reviews-counter-color: #fefbfb
$footer-text-color: #fefefe